@font-face {
    font-family: 'Norse';
    src: url('/fonts/Norse-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amble';
    src: url('/fonts/Amble-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Amble;
    margin: 0px;
    padding: 0px;
}

a{
    color: inherit;
}

.screen{
    display: flex;
}

.side{
    font-family: Norse;
    height: 100vh;
    width: 60%;
    background-image: url('/photos/leaf.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

.hero-caption{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding: 10px;
    --logo-size: 150px;
    position: relative;
    /* top: 20%;  */
    top: 15vh;
}

.leaf-logo{  
    height: var(--logo-size);
}

.hero-caption span {
    font-size: var(--logo-size);      
}

figcaption {
    position: absolute;
    bottom: 1.5%;
    width: 100%;
    padding: 10px ;
    text-align: center;
    font-size: 1rem;
}

/* Main Section */
 
.main-section{
    display: flex;
    flex-direction: column;
    background-color: #FBFCF8;
    font-size: 1.5rem;
}

.main-section > div{
    box-sizing: border-box;
    padding: 50px 300px 20px 100px;
}

.main-section .signup-header{
    line-height: 2rem;
    height: calc(15vh + 170px); 
}


.main-section .signup-form{
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
 
form{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.main-section .signup-form .input-section{
    display: flex;
    flex-direction: row;
    gap: 100px;
} 

.main-section .signup-form .input{
    display: flex;
    flex-direction: column;
    width: 300px;
}

input{
    height: 20px;
    border-color: #E5E7EB;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    box-shadow: none;
}

input:focus{
    border-color: blue;
    outline: none;
    box-shadow: none;
}

input:invalid{
    border-color: red;
}

label{
    font-size: 1rem;
}

/* Sign in */

.create-account{
    background-color: green;
    color: white;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    border-style: solid;
    width: 200px;
    height: 50px;
}

.create-account:active{
    background-color: #218838; 
}

.log-in{
    color: green;
}